:root {
    --font-main: #111827;
    --color-primary: #e6f3ff;
    --color-secondary: #007acc;
    --color-brand-dark: #004f80;
    --color-button-hover: #f0f8ff;
    --color-button-cancel-hover: #f3f4f6;
  }
  